<form>
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Searching">
            <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
        </div>
    </div>
</form>

