{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">
        {% for product in products %}
            <div class="col-xs-6 col-sm-6 col-sm-4 col-md-3">
                <div class="panel panel-default product-card">
                    <div class="panel-body text-center">
                        <img src="http://placehold.it/230x328" alt="" class="image">

                        <h4 class="product-name">{{ product.name }}</h4>

                        {% if product.getdiscountedPrice() %}
                            <div class="product-price">
                                ${{ product.discountedPrice }} <span class="product-sale">{{ product.price }}</span>
                            </div>
                        {% else %}
                            <div class="product-price">
                                ${{ product.price }}
                            </div>
                        {% endif %}


                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
